{% extends 'Front.html.twig' %}
{% block container %}

<div class="alert alert-success" role="alert">
    <strong>Well done !</strong> Votre element a été ajouté avec succés.
</div>




{% endblock %}