{% extends 'Front.html.twig' %}
{% block container %}

    <div class="alert alert-success" role="alert">
        <strong>Parfait !</strong> Le paeiment est effectuer avec succes :).
    </div>




{% endblock %}