{% extends 'Front.html.twig' %}
{% block container %}

    <div class="alert alert-success" role="alert">
        <strong>Parfait !</strong> Votre produit est ajouter :).
    </div>




{% endblock %}